@using Microsoft.AspNetCore.Identity
@using DestinyForum.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <li class="nav-item" style="display: inline-flex; align-items: center;">
            <a asp-area="" asp-controller="Home" asp-action="Profile" asp-route-id="@user.Id" title="Profile">
                @if (!string.IsNullOrEmpty(user?.ImageFilename))
                {
                    <img src="~/images/@user.ImageFilename" alt="Profile" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px; vertical-align: middle;" />
                }
                else
                {
                    <img src="~/images/placeholder.png" alt="Profile" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px; vertical-align: middle;" />
                }
            </a>
            <span class="align-middle mr-2">Hello @UserManager.GetUserName(User)!</span>
            <a class="nav-link" asp-controller="Discussions" asp-action="MyThreads" style="margin-right: 10px;">My Threads</a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
