@model DestinyForum.Models.Comment

@{
    ViewData["Title"] = "Create";
    int discussionId = ViewData["DiscussionId"] != null ? (int)ViewData["DiscussionId"] : Model?.DiscussionId ?? 0;
}

<div class="background-container" style="background-image: url('/images/your-background-image.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <div class="overlay"></div>
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h2>Create Comment</h2>
                <form asp-action="Create" asp-controller="Comments">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DiscussionId" value="@discussionId" />
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary mt-3" />
                    </div>
                </form>
                <div>
                    <a asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@discussionId">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}